<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="\static\site.js"></script>
    <input type="text" id="item_type">
    <button onclick="get_text()">Enter</button>
    <title>Harry's Newegg Algorithm</title>
    <link rel="stylesheet" href="\static\styles\style.css">
</head>
<body>
    <div class="itemHolder">
        <div class="card">
            <a href="https://www.newegg.com/Segotep-GM850-White/p/1HU-00Z0-000S2?cm_sp=SH-_-1596839-_-8-_-2-_-9SIBGX1JA26875-_-psu-_-psu-_-4&Item=9SIBGX1JA26875">
            <img src="https://c1.neweggimages.com/ProductImageCompressAll300/AM7KS2212200KT67Z87.jpg" alt="">
                <div class="cardText">
                    <h2 class="brandText">Segotep</h2>
                    <p class="itemName">Segotep 850W White PCIe 5.0 Full Modular 80 Plus Gold PSU ATX 3.0 Gaming Power Supply, 12VHPWR Cable, 12+4PIN port and Dual 6+2Pin ports for Different Graphics Cards, Silent Fan mode</p>
                    <h3 class="itemPrice">$350</h3>
                    <h5 class="savingPercentage">18% off</h5>
                    <h3 class="itemRating">4.8 ⭐</h3>
                </div>
            </a>    
        </div>
    </div>
</body>
</html>