<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="\static\site.js"></script>
    <script src="https://kit.fontawesome.com/997635d164.js" crossorigin="anonymous"></script>
    <title>Harry's Newegg Algorithm</title>
    <link rel="stylesheet" href="/static/styles/style.css">
</head>
<body>
    <div class="searchContainer">
        <input type="text" class= "search-txt" id="item_type" placeholder="What are you looking for?">
        <a href="#" class="search-btn" onclick="send_data()">
            <i class="fas fa-search"></i>
        </a>
    </div>
    <div class="itemHolder"></div>
</body>
</html>