@font-face {
  font-family: Poppins;
  src: url(/static/fonts/Poppins-ExtraLight.ttf);
}

:root{
  --accent: #ffb145;
  --primary: #121212;
  --secondary: #414141;
  --starMargin: 8px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  letter-spacing: 0.3px;
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.searchContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #2c3e50;
  height: 60px;
  border-radius: 40px;
  padding: 10px;
}

.searchContainer:hover > .search-txt {
  width: 450px;
  padding: 0 6px;
}

.searchContainer:hover > .search-btn {
  background: white;
}

.search-btn:hover > .searchContainer {
  top: 10%;
}

.search-btn {
  color: #e67e22;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}

.loader {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: tomato;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

img {
  border-radius: 10%;
  position: relative;
  top: 10px;
  width: 275px;
  height: 200px;
}

body {
  background-color: white;

  .itemHolder{
    position: absolute;
    height: 90vh;
    top: 20%;
    left: 1%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .card {
    cursor: pointer;
    display: flex;
    background: black;
    flex-direction: column;
    min-width: 200px;
    max-width: 300px;
    text-align: center;
    min-height: 370px;
    border-radius: 1rem;
    margin: 1.5rem;
    transition: 0.3s;
    box-shadow: 0px 12px 20px 0 rgba(25, 25, 25, 0.5);

    &:hover {
      transform: scale(1.1);
    }


    .cardText {
      margin: 0.5rem;
    }

    .itemName {
      color: white;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        white-space: inherit;
        text-overflow: inherit;
        overflow: visible;
      }
    }

    .brandText {
      color: orange;
    }

    .itemPrice {
      color: white;
      font-size: 30px;
    }

    .rating{
      flex-direction: row;
      position:relative;
      --rating: 5;
      --stop: calc(var(--rating) / 5 * 100% - var(--starMargin)/2);
      background-image: linear-gradient(
         to right,
         var(--accent) var(--stop),
         var(--secondary) var(--stop) 
      );
      background-clip: text;
      -webkit-background-clip: text;
    }
    
    
    .rating *{
      font-size: 20px;
      color: transparent;
      margin-right: var(--starMargin);
    }


    .numRatings{
      font-size: 15px;
      color: white;
    }

    .savingPercentage {
      color: var(--accent);
      font-size: 20px;
    }
  }
}


